/*Fonte poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Fonte montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Styles/...*/
@import url("Styles/reset.css");
@import url('Styles/header.css');
@import url('Styles/main.css');
@import url('Styles/rolamento.css');
@import url('Styles/footer.css');
@import url('Styles/sobreMim.css');

/*Seletor universal*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Regras*/
:root{
    --corPainel: #ffffff;
    --corPrincipal: #000000;
    --fontTexto: "Poppins", sans-serif;
    --fontTitulo: "Montserrat", sans-serif;
}
body{
    font-family: var(--fontTexto);
}
.ausente{
    display: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--fontTitulo);
}
p{
    font-size: 1rem;
    font-weight: 500;
}
p span{
    font-weight: 700;
    font-size: 1.1rem;
}
.aumentarTexto{
    font-size: 1.2rem;
    font-weight: 800;
}
@media screen and (min-width: 724px){
    .ausente2{
        display: none;
    }
}