footer h2{
    background-color: var(--corPrincipal);
    color: var(--corPainel);
    text-align: center;
    padding: 1em;
    margin-top: 5em;
}

/*Responsividade para tablets ou celular tela deitada*/
@media screen and (min-width: 724px){
    footer h2{
        font-size: 1.5rem;
    }
}

/*Responsividade para computadores ou tablets deitados*/
@media screen and (min-width: 1300px){
    footer h2{
        font-size: 1rem;
    }
}