/*Parte superior da página*/
.header{
    background-color: var(--corPrincipal);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vw;
    padding: 0 0 10vw 0;
}
.headerNav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
}
.headerMenuBtn{
    width: 30px;
    height: 30px;
    background-image: url("../Assets/iconMenuAberto.png");
    background-size: 60%;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2em;
}
.header h1{
    color: var(--corPainel);
    font-size: 1.4rem;
    padding: 0 2em;
    text-align: center;
}
.headerLista{
    display: none;
    position: absolute;
    top: 96%;
    width: 40vw;
    padding: 1em;
    background-color: var(--corPainel);
}
.headerLista li{
    margin: 2em 0;
    text-align: center;
}
.headerLista li a{
    color: var(--corPrincipal);
    font-size: 1.2rem;
    font-weight: 600;
}
.aparecerMenu:checked~.headerLista{
    display: block;
}
.aparecerMenu:checked~.headerLabel > .headerMenuBtn {
    background-image: url("../Assets/iconMenu.png");
    background-color: var(--corPainel);
}
.headerImagem{
    width: 80%;
}