/*Parte superior da página*/
.header{
    background-color: var(--corPrincipal);
    display: flex;
    flex-direction: column;
    gap: 10vw;
    padding: 0 0 10vw 0;
}
.headerNav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
}
.headerMenuBtn{
    width: 30px;
    height: 30px;
    background-image: url("../Assets/iconMenuAberto.png");
    background-size: 60%;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2em;
}
.headerMenuBtn p{
    display: none;
}
.header h1{
    color: var(--corPainel);
    font-size: 1.4rem;
    padding: 0 2em;
    text-align: center;
}
.headerLista{
    display: none;
    position: absolute;
    top: 80%;
    width: 40vw;
    padding: 0 1em;
    background-color: var(--corPainel);
}
.headerLista li{
    margin: 2em 0;
    text-align: center;
}
.headerLista li a{
    color: var(--corPrincipal);
    font-size: 1.2rem;
    font-weight: 600;
}
.aparecerMenu:checked~.headerLista{
    display: block;
}
.aparecerMenu:checked~.headerLabel > .headerMenuBtn {
    background-image: url("../Assets/iconMenu.png");
    background-color: var(--corPainel);
}
.header img{
    width: 80%;
    margin-left: 10%;
}
.header h2{
    color: var(--corPainel);
    font-size: 2rem;
    text-align: center;
    padding: 1em;
}
.headerLinks{
    display: none;
}

/*Responsividade para tablets ou celular tela deitada*/
@media screen and (min-width: 724px){
    .header{
        gap: 0;
        padding: 0 0 5vw 0;
    }
    .recepcao{
        display: flex;
        flex-direction: row-reverse;
        margin: 0;
        align-items: flex-start;
        padding: 0 5vw;
    }
    .header h2{
        padding: 2.5vw;
        text-align: left;
        font-size: 3.7rem;
        font-weight: 700;
    }
    .header img{
        width: 50%;
    }
    .headerMenuBtn{
        background-image: none;
        width: 15vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .headerMenuBtn p{
        display: block;
        color: var(--corPainel);
        font-size: 1.5rem;
    }
    .aparecerMenu:checked~.headerLabel > .headerMenuBtn {
        background-image: none;
        background-color: var(--corPainel);
    }
    .aparecerMenu:checked~.headerLabel > .headerMenuBtn p{
        color: var(--corPrincipal);
    }
    .header h1{
        display: none;
    }
    .headerLinks{
        display: flex;
        margin-left: 2vw;
    }
    .headerLinks a{
        color: var(--corPainel);
        font-size: 1.3rem;
        font-weight: 600;
    }
    .headerLista{
        width: 15vw;
    }
}

/*Responsividade para computadores ou tablets deitados*/
@media screen and (min-width: 1300px){
    .header{
        padding: 0;
    }
    .recepcao{
        padding: 3em 20em;
        justify-content: space-between;
    }
    .header h2{
        font-weight: 500;
        padding: 0;
        width: auto;
    }
    .headerLinks{
        display: flex;
        align-items: center;
        height: 4vw;
        width: 100%;
    }
    .headerLinks a{
        font-weight: 400;
        padding: 1em;
        border-radius: 0 0 10px 10px;
    }
    .headerLinks a:hover{
        background-color: var(--corPainel);
        color: var(--corPrincipal);
        transition: 1s;
    }
}