.rolamento{
    background-color: var(--corPrincipal);
    padding-bottom: 2em;
}
.rolamento h2{
    color: var(--corPainel);
    text-align: center;
    padding: 1em 2em;
    font-size: 2rem;
}
.rolamentoQuadro{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    border-radius: 20px;
    width: 100%;
    padding: 1em;
    background-color: var(--corPainel);
}
.rolamentoQuadro h3{
    font-size: 1.7rem;
    text-align: center;
    font-weight: 600;
}
.rolamentoQuadro p{
    text-align: left;
    width: 100%;
}
.rolamentoQuadro img{
    width: 80%;
    height: 40vw;
    border-radius: 20px;
}
.rolamentoQuadro a{
    width: 80%;
    background-color: var(--corPrincipal);
    color: var(--corPainel);
    text-align: center;
    padding: 1em;
    border-radius: 5px;
}
.swiper-button-prev, .swiper-button-next{
    display: none;
}