.rolamento{
    background-color: var(--corPrincipal);
    padding-bottom: 2em;
}
.rolamento h2{
    color: var(--corPainel);
    text-align: center;
    padding: 1em 2em;
    font-size: 2rem;
}
.rolamentoQuadro{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    border-radius: 20px;
    width: 100%;
    padding: 1em;
    height: 120vw;
    background-color: var(--corPainel);
}
.rolamentoQuadro h3{
    font-size: 1.7rem;
    text-align: center;
    font-weight: 600;
}
.rolamentoQuadro p{
    text-align: left;
    width: 100%;
}
.rolamentoQuadro img{
    width: 80%;
    height: 40vw;
    border-radius: 20px;
}
.rolamentoQuadroLinks{
    width: 100%;
    display: flex;
    gap: 5vw;
}
.rolamentoQuadroLinks a{
    width: 80%;
    background-color: var(--corPrincipal);
    color: var(--corPainel);
    text-align: center;
    padding: 1em;
    border-radius: 5px;
}
.rolamentoQuadroInfo{
    height: 40vw;
    display: flex;
    flex-direction: column;
    gap: 5vw;
}
.rolamentoQuadroLinks{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Responsividade para tablets ou celular tela deitada*/
@media screen and (min-width: 724px){
    .rolamento{
        width: 100%;
        padding: 2em 0;
    }
    .rolamento h2{
        font-size: 3rem;
    }
    .rolamentoQuadro{
        height: 60vw;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
    }
    .rolamentoQuadroInfo{
        width: 50%;
        height: 20vw;
        gap: 2vw;
    }
    .rolamentoQuadro img{
        width: 45%;
        height: 20vw;
        margin: 0;
    }
    .rolamentoQuadroLinks{
        flex-direction: row;
    }
    .rolamentoQuadro h3{
        font-size: 3rem
    }
    .rolamentoQuadroLinks a{
        font-size: 1.5rem;
    }
    .rolamentoQuadroInfo p span{
        font-size: 1.7rem;
    }
    .rolamentoQuadro p{
        font-size: 1.5rem;
    }
    .rolamentoQuadroInfo{
        height: auto;
    }
}

/*Responsividade para computadores ou tablets deitados*/
@media screen and (min-width: 1300px){
    .rolamento h2{
        font-size: 2em;
    }
    .rolamento{
        padding: 0 0 2em 4em;
    }
    .rolamentoQuadro{
        height: 25vw;
        width: 90%;
        align-items: flex-start;
    }
    .rolamentoQuadroLinks a{
        font-size: 1rem;
    }
    .rolamentoQuadro img{
        height: 15vw;
        width: 40%;
    }
    .rolamentoQuadro p{
        font-size: 1rem;
    }
    .rolamentoQuadro p span{
        font-size: 1.1rem;
    }
}